<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="page">
  <main>
    <div class="nav-wrapper">
      <nav>
        <div class="left">
          <a href="/">Home</a>
          <a href="/membership">Membership</a>
          <a href="/sponsorship">Sponsorship</a>
          <a href="/events">Events</a>
          <a href="/#about">About</a>
        </div>
        <div class="right">
          <a href="https://www.twitter.com/somdog"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/somdog"><i class="fa fa-facebook"></i></a>
          <a href="http://blog.somdog.org"><i class="fa fa-rss"></i></a>
        </div>
      </nav>
    </div>

    <h1 class="logo">som|dog</h1>

    <article>
      {{ content }}
    </article>
  </main>

  {% include tail.html %}
</body>
</html>
